main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 40rem;
  padding: 1.5rem;

  & #top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    & a {
      font: var(--link);
      color: var(--color-brand);
      text-decoration: none;
    }

    & a:hover {
      color: var(--color-brand-hover);
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & input {
      padding: 1rem;
      border-radius: 0.75rem;
      border: 2px solid var(--border-primary);
      outline: none;
      font-size: var(--text);
      width: 100%;

      &::placeholder {
        color: var(--content-tertiary);
      }

      &:hover {
        border: 2px solid var(--border-hover);
      }

      &:focus {
        border: 2px solid var(--color-brand);
        outline: none;
      }
    }

    & button {
      width: 100%;
      background-color: var(--color-brand);
      font: var(--label);
      color: var(--bg-secondary-color);
      border: none;
      border-radius: 0.75rem;
      padding: 1rem;

      &:hover {
        background-color: var(--color-brand-hover);
        cursor: pointer;
        transition: 1s;
      }
    }
  }

  & ul[role="list"] {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & li {
      border: none;
      padding-inline: 0.75rem;
      padding-block: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.75rem;
      background-color: var(--bg-secondary-color);

      & .item {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        & .checkbox {
          &:hover {
            cursor: pointer;
          }
        }

        & span {
          font-weight: 400;
          color: var(--content-primary);
        }
      }
    }
  }

  & #warnings {
    & .warning {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border: none;
      padding-inline: 0.75rem;
      padding-block: 0.5rem;
      background-color: var(--color-danger);
      border-radius: 0.75rem;

      & .warning-message {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin: unset;

        & span {
          color: var(--bg-secondary-color);
        }
      }

      & .delete-icon {
        & img {
          margin-top: 0.3rem;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (width >= 80em) {
  main {
    padding: unset;
    padding-block: 1.5rem;
    margin: auto;
    & form {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      & input {
        padding: 1rem;
        border-radius: 0.75rem;
        border: 2px solid var(--border-primary);
        outline: none;
        font-size: var(--text);
        width: 100%;

        &::placeholder {
          color: var(--content-tertiary);
        }

        &:hover {
          border: 2px solid var(--border-hover);
        }

        &:focus {
          border: 2px solid var(--color-brand);
          outline: none;
        }
      }

      & button {
        width: 20rem;
        padding: 1rem;
      }
    }
  }
}
